.enter-link-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.el-input.article-url-input{
    width: 90vw;
    max-width: 500px;
    margin-top: 30px;
    display: block;
}

.article-url-input input {
    height: 55px;
    text-align: center;
    font-size: 19px
}

.el-button.create-outline-button{
    border-radius: 15px;
    font-size: 18px;
    padding: 18px 35px;
    margin-top: 30px
}

.el-form-item.article-url-form-item{
    margin-bottom: 0;
}

.article-url-form-item .el-form-item__error.el-form-item__error {
    color: #ff4949;
    font-size: 15px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 33%;
}

.toast-notification .Toastify__toast-body{
    font-family: Arial, Helvetica, sans-serif;
}